# Dependencias de Node
node_modules/

# Configuración de Editor (VS Code)
.vscode/

# Reportes de Testing
coverage/
*.lcov

# Logs de error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema
.DS_Store
Thumbs.db